<a href="https://colab.research.google.com/github/shahriariit/COVID-19-Twitter-Data-Analysis/blob/master/Corona_Virus_TweetsCluster.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import metrics
from imblearn import metrics as metrics2
from sklearn import model_selection

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.metrics.classification module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.
  warnings.warn(message, FutureWarning)

In [0]:
data = pd.read_csv("https://raw.githubusercontent.com/shahriariit/opendataset/master/corona_tweets_2L.csv")

In [0]:
data.head()

     0    1    2    3    4    5    6  7  ...  23  24  25  26  27  28  29  Class
0  256  210  539  188  256  140   63  1  ...   0   0   0   0   0   0   0      1
1  107    0    0    0    0    0    0  0  ...   0   0   0   0   0   0   0      0
2    1  136  147   38   88  381    0  0  ...   0   0   0   0   0   0   0      1
3  426  281  157  290  319  281  333  1  ...   0   0   0   0   0   0   0      1
4   28   92  129    0    0    0    0  0  ...   0   0   0   0   0   0   0      2

[5 rows x 31 columns]

In [0]:
X = data.drop("Class", axis = 1).values
y = data["Class"].values

In [0]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=5)
kmeans_fit = kmeans.fit(X)
labels = kmeans.predict(X)
centroids = kmeans.cluster_centers_

In [0]:
s1=pd.DataFrame(data=labels)
s1.columns=['Cluster']
df1=pd.DataFrame(data=data)
result = pd.concat([df1,s1], axis=1)
result.head()

     0    1    2    3    4    5    6  7  ...  24  25  26  27  28  29  Class  Cluster
0  256  210  539  188  256  140   63  1  ...   0   0   0   0   0   0      1        2
1  107    0    0    0    0    0    0  0  ...   0   0   0   0   0   0      0        3
2    1  136  147   38   88  381    0  0  ...   0   0   0   0   0   0      1        3
3  426  281  157  290  319  281  333  1  ...   0   0   0   0   0   0      1        1
4   28   92  129    0    0    0    0  0  ...   0   0   0   0   0   0      2        3

[5 rows x 32 columns]

In [0]:
data_cluster=result[result['Cluster']==0]
data_cluster_X1=data_cluster.drop(['Class','Cluster'],axis=1).values
data_cluster_y1=data_cluster['Class'].values

0

## **Outlier**

In [0]:
model = RandomForestClassifier()

y_pred = model_selection.cross_val_predict(model, data_cluster_X1, data_cluster_y1, cv = 10)
print('Accuracy :       ', metrics.accuracy_score(data_cluster_y1, y_pred))
print('F-Measure :      ', metrics.f1_score(data_cluster_y1, y_pred, average = 'weighted'))
print('Geometric Mean : ', metrics2.geometric_mean_score(data_cluster_y1, y_pred, average = 'weighted'))
print('Sensitivity :    ', metrics2.sensitivity_score(data_cluster_y1, y_pred, average = 'weighted'))
print('Specificity :    ', metrics2.specificity_score(data_cluster_y1, y_pred, average = 'weighted'))
print('Type I Error :   ', (1-metrics2.geometric_mean_score(data_cluster_y1, y_pred, average = 'weighted')))
print('Type II Error :  ', (1-metrics2.specificity_score(data_cluster_y1, y_pred, average = 'weighted')))
print("########################################")

Accuracy :        0.8632267048311608
F-Measure :       0.8620611029668198
Geometric Mean :  0.8771817987108304
Sensitivity :     0.8632267048311608
Specificity :     0.8913624934020834
Type I Error :    0.12281820128916965
Type II Error :   0.1086375065979166
########################################